body{
    background-image:url("https://static.vecteezy.com/system/resources/previews/007/164/537/original/fingerprint-identity-sensor-data-protection-system-podium-hologram-blue-light-and-concept-free-vector.jpg");
    background-size: cover;
}
label{
    font-weight: bold;
    font-size: 20px;
}
div{
    background-color: rgb(53, 53, 253);
    padding:20px;
    border: 5PX solid black;
    margin: 20vh auto 0 auto;
    width: 400px;
    height: 700px;
    box-sizing: border-box;
/*     box-shadow: 10px 10px 10px 10px rgb(227, 71, 71); */
    border-radius:30px;
}
p{
    color: red;
    font-style:oblique;
}
.btn {
    margin-left: 90px;
}
.heading {
    margin-left: 90px;
}
.pass {
    float:left;
}
#togglePassword{
    float:right;
    margin-top: -18px;
    padding-right: 115px;
    cursor: pointer;
}
@media (max-width:458px){
    div{
        width: 350px;
        height: 650px;
    }
    #togglePassword{
        padding-right:70px;
    }
}
@media (max-width:393px){
    div{
        width: 300px;
        height: 650px;
        padding-right: 10px;
    }
    #togglePassword{
        padding-right: 25px;
    }
}
@media (max-width:340px){
    div{
        width: 300px;
        height: 650px;
    }
}
